@using QLBANSACH.Models;
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="gio_hang">
    <h2>THÔNG TIN GIỎ HÀNG</h2>
    <table align="center" border="1">
        <tr>
            <td>Mã sách</td>
            <td>Tên sách</td>
            <td>Ảnh bìa</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td width="50px"></td>
            <td width="50px"></td>
            <td width="50px"></td>
            <td width="50px"></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iMasach</td>
                <td>@item.sTensach</td>
                <td><img src="~/Models/Images/@item.sAnhbia" /></td>
                <td>@item.iSoluong</td>
                <td>@String.Format("{0:0,0}", item.dDongia)</td>
                <td>@String.Format("{0:0,0}", item.dThanhtien)</td>
                @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSP = item.iMasach }))
                {
                    <td>
                        @item.iSoluong
                    </td>
                    <td>@string.Format("{0:0,0}", item.dDongia)</td>
                    <td>@string.Format("{0:0,0}", item.dThanhtien)</td>
                    <td><a href="@Url.Action("Details","BookStore", new { id = item.iMasach })">Chi tiết</a></td>
                }
            </tr>
        }

        <tr class="tong_tien">
            <td colspan="7">Số lượng sách: @ViewBag.Tongsoluong</td>
            <td colspan="5">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VND</td>
        </tr>
    </table>
</div>
<div class="thong_tin_dat_hang">
    <h2>THÔNG TIN ĐẶT HÀNG</h2>
    @{ 
        KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
    }
    <table align="center">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr>
                <td>Họ tên khách hàng</td>
                <td>@kh.HoTen</td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td> @kh.DiaChiKH </td>
            </tr>
            <tr>
                <td>Điện thoại</td>
                <td> @kh.DienThoaiKH </td>
            </tr>
            <tr>
                <td>Ngày đặt</td>
                <td> @DateTime.Now.ToShortDateString() </td>
            </tr>
            <tr>
                <td>Ngày giao hàng</td>
                <td>
                    <input type="date" name="Ngaygiao" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="@Url.Action("Payment","GioHang")">Thanh toán</a>
                    
                </td>
            </tr>
        }
    </table>
</div>
